@font-face {
    font-family: pricedown;
    src: url('fonts/pricedown.ttf');
}

@font-face {
    font-family: diploma;
    src: url('fonts/diploma.ttf');
}

.header {
    padding: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: diploma;
    background: #ccc;
    text-align: center;
    height: 100px;
}

input {
    font-family: arial;
}

.product {
    font-size: 20px;
    font-family: pricedown;
    padding: 10px;
    text-align: center;
}

img {
    height: 144px;
    width: 256px;
}

img:hover {
    opacity: 0.3;
}

p {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin-left: 55px;
    margin-right: 55px;
}

.show {
    display: block;
}

.hide {
    display: none;
}
