.header {
    padding: 30px;
    margin-bottom: 10px;
    font-size: 25px;
    background: #bcbcbc;
    text-align: center;
    height: 100px;
}

.product {
    padding: 10px;
    text-align: center;
}

img {
    height: 144px;
    width: 256px;
}
