#content {
	width: 100%;
	background-color: #ccc;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 20px;	
}

table, tr, th, td {
	border: 1px solid;
	border-collapse: collapse;
}

img {
	width: 75px;
	height: 75px;
}