body {
	background-color: #00f7ea;
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
}

h1 {
	font-size: 30px;	
}

table, tr, th, td {
	border: 1px solid;
	border-collapse: collapse;
	padding: 2px;
}

#divBotoes {
	width: 100%;
	float: left;
	text-align: left;
}

#divWelcome {
	width: 100%;
	text-align: left;
}

#divTitulo {
	width: 100%;
	text-align: center;
}

#divPlacar {
	width: 20%;
	float: right;
}

#divMain {
	width: 70%;	
}

#divRelogio {
	text-align: right;
	width: 100%;
}

.naPrincipal {
	width: 75px;
	height: 75px;
}

.naTabela {
	width: 25px;
	height: 25px;
}

.onGame {
	display: inline;
}

.offGame {
	display: none;
}	