body {
	background-color: #2d4671;
	margin: 0 auto;
	text-align: center;
	font-family: arial;
}

h1 {
	font-size: 30px;
	color: #090e16;	
}

input {
	font-weight: bold;
	color: white;
	background-color: #598add;
}

p {
	color: #b2c5e4;
}

table, tr, th, td {
	color: #b2c5e4;
	border: 1px solid;
	border-collapse: collapse;
	padding: 7px;
}

#divBotoes {
	width: 100%;
	float: left;
	text-align: left;
}

#divWelcome {
	width: 100%;
	text-align: left;
}

#divTitulo {
	width: 100%;
	text-align: center;
}

#divPlacar {
	width: 15%;
	float: right;
}

#divMain {
	width: 70%;
}

#divRelogio {
	text-align: left;
	width: 15%;
}

#divRanking {
	text-align: left;
}

.naPrincipal {
	width: 75px;
	height: 75px;
}

.naTabela {
	width: 25px;
	height: 25px;
}

.onGame {
	display: inline;
}

.offGame {
	display: none;
}

.corPar {
	background-color: #647ba3;
}